/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generals*/
:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
    --color-grey: rgb(189, 180, 200);
}

body {
    font-family: Montserrat, 'Nelvetica Neue', sans-serif;
}

.debug {
    border: 1px solid red;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

h1 {
    color: var(--color-contrast);
    text-shadow: 1px 1px 1px black;
    font-family: 'Nerko One', cursive;
    text-transform: uppercase;
    font-size: 3em;
}

h3 {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 500;
}

h4 {
    font-size: large;
}

ul {
    list-style: none;
}

hr {
    width: 20%;
    border: 1px solid var(--color-contrast);
    margin-top: 10px;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

.img {
    width: 300px;
    margin: 0 auto;
}

.small {
    font-size: small;
}

a {
    color: var(--color-white);
}
/*Utilities*/

.bg-white {
    background-color: var(--color-white);
}

.bg-primary {
    background-color: var(--color-primary);
}

.d-none {
    display: none;
}

/*Spacer*/

.p-top {
    padding-top: 20px;
}

.p-bottom {
    padding-bottom: 40px;
}

.p-left {
    padding-left: 20px;
}

.p-20 {
    padding: 20px;
}
/*Flex*/

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/*Text*/

.text-white {
    color: var(--color-white);
}

.uppercase {
    text-transform: uppercase;
}

.text-grey {
    color: var(--color-grey);
}

.text-purple {
    color: var(--color-dark-text);
    font-weight: 1000;
    font-size: large;
}

/*Page*/

header,
footer {
    min-height: 70px;
    padding: 20px;
}

main {
    background-color: var(--color-bg-color);
}

header a {
    text-decoration: none;
}

#video {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

#video img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.logo1 {
    background-color: var(--color-white);
    color: var(--color-icon-blue);
    text-align: center;
    width: 45px;
    line-height: 40px;
    border-radius: 50%;
}

.logo2 {
    background-color: var(--color-white);
    color: var(--color-icon-red);
    text-align: center;
    width: 45px;
    line-height: 40px;
    border-radius: 50%;
    
}
/*Media Query*/

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px){
    main {
        padding: 40px;
    }
    header.start {
        justify-content: space-between;
    }
    .d-none {
        display: inline-block;
    }
    .grid {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        width: calc(100% / 3);
    }
    .p-top2 {
        padding-top: 20px;
    }
    .text-purple {
        font-size: 2em;
    }
    .img {
        float: left;
        padding-top: 20px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    .space-between {
        justify-content: space-between;
    }
}